body{
    background-color: #b7bcc3;
    margin: 0;
    min-height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.theqr{
    height: 430px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}

.theqr img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.theqr h1{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.theqr p{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #b7bcc3;
  
}
